section(class="contact")
    div(class="row")
        div(class="col-12 col-sm-12")
            div(class= "contact__container")
                img(class= "contact__image" src="./images/worktogether.png", alt="")
                h1(class="contact__title") Wanna work together?
                h2(class="contact__subtitle") Send me a message!
                input(type="text" class="contact__email-input" placeholder= "Email")
                textarea(class="contact__message-input" placeholder= "Message")
                div.contact__box
                    button(class="contact__button") Send