section(class="experience")
    div(class="row")
        div(class="col-12 col-sm-12")
            h1(class="experience__title") Experience
    div(class="experience__container")
        div(class="row")
            div(class="col-12 col-sm-4")
                div(class="experience__item")
                    div(class="experience__item__head")
                        img(class="experience__item__logo" src="./images/ksquareLogo.jfif")
                        div(class="experience__item__head__info")
                            h2(class="experience__item__company") Ksquare
                            h4(class="experience__item__position") Javascript Trainee
                            p(class="experience__item__duration") Apr 2019 - Present
                    div(class="experience__item__body")
                        p(class="experience__item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas massa eros, faucibus ac facilisis et, elementum nec nulla. Phasellus iaculis luctus leo vel consequat. Donec nec lacus ipsum. Sed eu odio quis massa varius vehicula. Etiam vestibulum, nulla vel dictum congue, dolor odio pellentesque nibh, nec dictum ipsum odio et libero. 
                        a(class="experience__item__link" href="#") View less
            div(class="col-12 col-sm-4")
                div(class="experience__item")
                    div(class="experience__item__head")
                        img(class="experience__item__logo" src="./images/walook-icon.png")
                        div(class="experience__item__head__info")
                            h2(class="experience__item__company") Walook
                            h4(class="experience__item__position") Intern Programmer
                            p(class="experience__item__duration") Jun 2018 - Aug 2018
                    div(class="experience__item__body")
                        p(class="experience__item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas massa eros, faucibus ac facilisis et, elementum nec nulla. Phasellus iaculis luctus leo vel consequat. Donec nec lacus ipsum. 
                        a(class="experience__item__link" href="#") View more
            div(class="col-12 col-sm-4")
                div(class="experience__item")
                    div(class="experience__item__head")
                        img(class="experience__item__logo" src="./images/fatPanda-icon.png")
                        div(class="experience__item__head__info")
                            h2(class="experience__item__company") Fat Panda
                            h4(class="experience__item__position") Jr. Programmer
                            p(class="experience__item__duration") Jul 2017 - Oct 2017
                    div(class="experience__item__body")
                        p(class="experience__item__description") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas massa eros, faucibus ac facilisis et, elementum nec nulla. Phasellus iaculis luctus leo vel consequat. Donec nec lacus ipsum. 
                        a(class="experience__item__link" href="#") View more
            