div(class="footer")
    div(class="row")
        div(class= "col-12 col-sm-12 footer__container")
            p(class="footer__text") All rights reserved 2019
            h6(Class="old-ver")
                a(href="./old/index.html") Old Version