section(class="hero")
    div(class="row")
        div(class="col-12 col-sm-12")
            div(class="hero__container")
                h1(class="hero__title") Rodrigo Castilla
                h2(class="hero__position") Javascript Trainee
                div(class="hero__photo")
p(class= "hero__bio") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed tincidunt lorem, pellentesque dictum erat. Donec ac eros non nibh porta interdum. Suspendisse lectus urna, accumsan at sagittis ultrices, elementum ut neque. Nunc vulputate viverra libero, sed malesuada enim scelerisque quis. 
                
            