section(class="hero")
    div(class="row hero__container")
        div(class="hero__background")
            h1(class="hero__background__title")
            h1(class="hero__background__position")
        div(class="hero__picture")
            div(class="hero__image")