section(class="projects")
    div(class="projects__title")
            div(class="col-12 col-sm-12")
                h1(class="projects__title") Projects
    div(class="projects__container")    
        div(class="row")
            div(class="col-12 col-sm-4")
                div(class="projects__item")
                    h1(class="projects__item__title") Todo App
                    div(class="projects__item__image-container")
                        img(class="projects__item__img" src="./images/project-img.PNG")
                    p(class="projects__item__description") Glorified todo app built on Javascript, HTML5 and CSS3
                    button(class="projects__item__button") See more
            div(class="col-12 col-sm-4")
                div(class="projects__item")
                    h1(class="projects__item__title") Poc Chef
                    div(class="projects__item__image-container")
                        img(class="projects__item__img" src="./images/project-img.PNG")
                    p(class="projects__item__description") Wanna order tortas mate? We gotcha covered, fam!
                    button(class="projects__item__button") See more
            div(class="col-12 col-sm-4")
                div(class="projects__item")
                    h1(class="projects__item__title") Conference App
                    div(class="projects__item__image-container")
                        img(class="projects__item__img" src="./images/project-img.PNG")
                    p(class="projects__item__description") Wanna book conference room? We gotcha covered, fam!
                    button(class="projects__item__button") See more