/**
 * Header component
 */
@require "./components/header"

/**
 * Hero Component
 */
@require "./components/hero"

/**
 * Skills Component
 */
@require "./components/skills"

/**
* Project component
*/
@require "./components/projects"

/**
* Contact component
*/
@require "./components/contact"

/**
* Footer component
*/
@require "./components/footer"