@require "../base/colors.styl";
@require "../base/fonts.styl";
@require "../base/units.styl";
@require "../base/container.styl";

/**
 * Mobile / Base Styles
 */
.blog
    
    &__container
        @extend .g-container
        text-align: center
    &__main-title
        text-align: center
        background-color: $lightGray_color 
        padding: $double_padding $normal_padding
        color: $darkBlue_color
    &__title,
    &__date
        color: $darkBlue_color
        font-family: $text_font
        text-align: center
        margin: $normal_margin

    &__title
        font-size: 1.5rem
    &__date
        font-size: 1rem
        font-weight: 100
        margin-top: 0.5rem

    &__read
        background-color: $lightBlue_color
        border: 0
        border-radius: 0.5rem
        color: $lightGray_color
        font-weight: bold
        font-size: 1.2rem
        font-family: $text_font
        margin-top: $double_margin
        padding: $normal_padding $triple_padding
    
    &__picture
        height: 15rem
        display: none

/**
 * Tablet Styles
 */
@media screen and (min-width: $tablet_width)
    .blog
        &__container,
        &__picture
            display: inline-block
            vertical-align: middle
            width: 50%
        
        &__image
            height: 15rem
            object-fit: cover
            width: 100%;
