@require "../base/colors.styl";
@require "../base/fonts.styl";
@require "../base/units.styl";

.header
  background-color: $background_white
  

  &__container
    //box-sizing: border-box
    margin: auto auto
    //padding: $normal_padding
    //width: 100% // fluid layout

  &__name
    color: $darkBlue_color
    font-family: $text_font
    text-align: center
    font-weight: lighter 
.container-fluid
  padding: 0