@require '../base/units'

.hero
    &__container
        box-sizing: border-box
        padding: 3rem $normal_padding
        width: 100%
        background-image: url('./images/dots-bg.png')
        background-size: cover
    
    &__title
        font-family: arial
        font-size: 1.5rem
        margin: $double_margin auto
        padding: $normal_padding
        background: $background_white
        max-width: 20rem
        text-align: center