@require "../base/colors.styl";
@require "../base/fonts.styl";
@require "../base/units.styl";

.projects
    &__container        
        
        //justify-content: space-evenly
        display: block
        justify-content: space-evenly
        margin: $double_margin $normal_margin 
        //padding: $double_padding $normal_padding

    &__title
        color: $border_green
        font-family: Arial
        text-align: center

    &__item
        box-sizing: border-box
        width: 100%
        max-width: 37.5rem
        
        //height: 100%
        margin: $normal_margin auto
        background: $background_gray
        padding: $normal_padding
        font-family: sans-serif

        //margin: $normal_margin

        &__title &__description
            color: $text_color 

        &__button
            background: $circle_purple
            border: $circle_purple
            box-sizing: border-box
            color: $background_white
            width: 100%
            padding: 0.75rem
            font-weight: bold

@media screen and (min-width: $tablet_width)
    .projects
        &__container        
            
            //justify-content: space-evenly
            min-width: 100%

            display: flex
            justify-content: space-evenly
            
            padding: $triple_padding auto 
        
        &__item
            box-sizing: border-box
            width: 100%
            max-width: 20rem
            display: inline-block
            margin: $double_margin
        /*&:first-child
            background-color: $circle_purple

        &:nth-child(2)
            background-color: $circle_orange

        &:last-child
            background-color: $circle_green*/