section(class="experience")
    h1(class="experience__title") Experience
    div(class="experience__container")
        div(class="experience__item")
            h2(class="experience__item__company") Ksquare
            h4(class="experience__item__position") Javascript Trainee
            p(class="experience__item__duration") Apr 2019 - Present
            a(class="experience__item__link" href="#") View more
        div(class="experience__item")
            h2(class="experience__item__company") Walook
            h4(class="experience__item__position") Intern Programmer
            p(class="experience__item__duration") Jun 2018 - Aug 2018
            a(class="experience__item__link" href="#") View more
        div(class="experience__item")
            h3(class="experience__item__company") Fat Panda
            h4(class="experience__item__position") Jr. Programmer
            p(class="experience__item__duration") Jul 2019 - Oct 2019
            a(class="experience__item__link" href="#") View more