section(class="contact")
    div(class= "row contact__container")
        div(class ="col-12 col-sm-12")
            h1(class="contact__title") Wanna work together?
            h3(class="contact__subtitle") Let's get in touch
            div(class="contact__box")   
                button(class="contact__button") Send me a message