section(class="projects")
    div(class="row title")
        dic(class="col-12 col-sm12")
            h1(class="projects__title") Projects
    div(class="row projects__container")
        div(class="col-12 col-sm-4")
            div(class="projects__item")
                h3(class="projects__item__title") Todo App
                p(class="projects__item__description") Glorified todo app built on Javascript, HTML5 and CSS3
                button(class="projects__item__button") See more
        div(class="col-12 col-sm-4")
            div(class="projects__item")
                h3(class="projects__item__title") Poc Chef
                p(class="projects__item__description") Wanna order tortas mate? We gotcha covered, fam!
                button(class="projects__item__button") See more
        div(class="col-12 col-sm-4")
            div(class="projects__item")
                h3(class="projects__item__title") Conference App
                p(class="projects__item__description") Wanna book conference room? We gotcha covered, fam!
                button(class="projects__item__button") See more