section(class="skills")
    div(class="skills__container")
        div(class="row")
            div(class="col-12 col-sm12")
                h1(class="skills__title") Skills
            div(class="col-4 col-sm-4 skills__img")
                img(class="img-responsive skills__item", alt="", src="./images/rx.png", id='rn' )
            div(class="col-4 col-sm-4 skills__img")
                img(class="img-responsive skills__item", alt="", src="./images/js.png", id='js' )
            div(class="col-4 col-sm-4 skills__img")
                img(class="img-responsive skills__item", alt="", src="./images/rn.png", id='react' )