section(class="contact")
    div(class= "contact__container")
        h1(class="contact__title") Wanna work together?
        h3(class="contact__subtitle") Let's get in touch
        div.contact__box
            button(class="contact__button") Send me a message